html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../img/bckg.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    color: white; /* Define a cor do texto como branco para contraste */
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    box-shadow: 0px 0px 10px 0px white;
    text-align: center;
    color: white;
}

.modal-body {
    margin-bottom: 20px;
}
